{% extends 'layout.html' %}

{% block home %}
<div class="splash">

	<div class="header">
		<h1>Playbook</h1>
		<h3>The Social Network for Athletes</h3>
	</div>

	<div class="main">
		<div class="home-search">
			<h2>Search for an Athlete</h2>
			<form action="/search" method="get">
			    <input type="text" name="q">
			    <button type="submit" class="btn btn-sm btn-default">Search</button>
			</form>
		</div>
		<a href="/players/"><button type="button" class="main-btn btn btn-default">View Athletes</button></a>
	</div>
	
</div>
{% endblock %}